<!doctype html>
<!-- Our uiRouterSample module defined here -->
<html lang="en" ng-app="uiRouterSample">
<head>
    <meta charset="utf-8">

    <!-- using twitter bootstrap, but of course -->
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <!-- styles for ng-animate are located here -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Include both angular.js and angular-ui-router.js-->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../build"></script>

    <!-- module.js declares the uiRouterSample module and adds items to $rootScope-->
    <script src="module.js"></script>
    <!-- factory.js defines a 'contacts' http service and a 'utils' global functions service -->
    <script src="factory.js"></script>
    <!-- state.js takes care of all the state configuration, where all the magic's at-->
    <script src="states.js"></script>

    <!-- could easily use a custom property of the state here instead of 'name' -->
    <title ng-bind="$state.current.name + ' - ui-router'">ui-router</title>
</head>
<body>
<div>
    <div class="email-list-wrapper">
            <span class="icon icon-goto-top"
                  data-ng-click="emailListService.newEmailNum = 0; gotoTop = 1; ">
            </span>

        <div class="scroll-bar">
            <div class="scroll-bar-cursor"></div>
        </div>
        <div class="email-list-scroll-wrapper"
             data-ng-init="infiniteScrollArr = []; gotoTop = 0;"
             data-infinite-scroll
             data-infinite-scroll-loading="infiniteScrollLoading"
             data-infinite-scroll-source='emailListService'
             data-infinite-scroll-data="infiniteScrollArr"
             data-infinite-scroll-next='emailListService.retrieve(20)'
             data-infinite-scroll-distance='69'
             data-infinite-scroll-top="infiniteScrollService.scrollTop"
             data-infinite-scroll-gotop='gotoTop'
             data-infinite-scroll-target=".email-list"
             data-infinite-scroll-rail=".scroll-bar"
             data-infinite-scroll-bar=".scroll-bar-cursor">

            <div class="email-list">
                <div class="email"
                     data-ng-repeat="r in infiniteScrollArr track by r.id"
                     data-ng-click="onClickEmail(r.id)"
                     data-draggable
                     data-dragstart="onDragStart(r.id)">
                        <span class="icon"></span>

                    abc
                </div>
            </div>

            <div data-ng-show="infiniteScrollLoading">loading</div>
        </div>
    </div>
</div>
</body>
</html>
